.right-bar 
  .teacher-plf
    = image_tag "HIRO_V4.jpg", size: "320x213", alt: "test"
    %h1 能力を最大限に引き出すトップコーチ
    %p トラックマンなどの弾道解析器を使ったデータ重視の的確なアドバイスが特徴。東北高校ゴルフ部のコーチも5年務めている。
    %h2 
  .place-tag
    <iframe width="320" height="213" src="https://www.youtube.com/embed/10DTvi66irY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    %p 【東京】阿河徹レッスン
    %p agalesson@yahoo.co.jp
    %p 世田谷区大蔵6-7-21 井山ゴルフ練習場
    %p 金・土・日に開講（時間は応相談）
    %p 1時間1万800円
