.side-bar
  .group-edit-btn
    = link_to 'グループを編集', '/groups/new'
  .side-bar__groups-list
  - current_user.groups.each do |group|
    .group
      = link_to '#' do
        .group__name
          = group.name
        .group__message
          メッセージはまだありません。
          