.coaches
  .coach-section
    %p.info クリックするとレッスンプロの詳細を確認することができます。
    %p.info さらに各レッスンプロの体験レッスンページより体験レッスンを申し込むことができます。
  .coach-list
    -# ここにaタグが入る
    .coach-title
      %h.coach-name 近藤 はるかプロ
      %p アカデミー担当インストラクター
    .coach-user
      .recommend
        %h おすすめ度 ⭐️
      .coach-img
        = image_tag "coach1.jpg", size: "300x315", alt: "coach"
      .coach-text
        .tag-box
          %p.tag-user1 体験レッスン
          %p.tag-user2 初心者向け
          %p.tag-user3 コースレッスン
          .catch-titile
            %h 勝つゴルフレッスンで、スコアを縮めます！！
          %p.minute これまで日米で学んできた知識を生かしていろいろなことをシンプルに出来るよう指導し、皆様の個々の目標が達成できるようにお手伝いしてまいります。そして“ゴルフは楽しい！！”と思ってもらえたらとてもうれしく思います。
          %p.adress メンタル改善
          %p.acsess 指導者育成
        .coach-box
          %h.cupon お得なレッスンチケット一覧
          .box-ticket
            %p.box-ticket-titile 体験レッスン
            %p.box-ticket-tag 無料体験レッスン1回 50分無料
    .coach-title
      %h.coach-name 近藤 はるかプロ
      %p アカデミー担当インストラクター
    .coach-user
      .recommend
        %h おすすめ度 ⭐️
      .coach-img
        = image_tag "coach1.jpg", size: "300x315", alt: "coach"
      .coach-text
        .tag-box
          %p.tag-user1 体験レッスン
          %p.tag-user2 初心者向け
          %p.tag-user3 コースレッスン
          .catch-titile
            %h 川越ICから10分！！24時間お好きな時間で練習可能☆レッスンも夜22:00まで◎
          %p.minute 初めての方も大歓迎！！習い放題月額5,980円からのゴルフスクール。365日練習できる！なんと24時間営業！！室内の快適な環境で、ご自身のプランに合わせた形で思う存分練習ができます！認定コーチによるレッスンと全打席最新解析機で練習をフルサポート。的確なコーチングを受けて着実にレベルアップしたい、という方にピッタリの練習環境をご提供します。
          %p.adress 〒157-0072 東京都世田谷区祖師谷4-2-11 ビッグA入り口2階
          %p.acsess 川越ICから車で10分
        .coach-box
          %h.cupon お得なレッスンチケット一覧
          .box-ticket
            %p.box-ticket-titile 体験レッスン
            %p.box-ticket-tag 無料体験レッスン1回 50分無料
    .coach-title
      %h.coach-name 近藤 はるかプロ
      %p アカデミー担当インストラクター
    .coach-user
      .recommend
        %h おすすめ度 ⭐️
      .coach-img
        = image_tag "coach1.jpg", size: "300x315", alt: "coach"
      .coach-text
        .tag-box
          %p.tag-user1 体験レッスン
          %p.tag-user2 初心者向け
          %p.tag-user3 コースレッスン
          .catch-titile
            %h 川越ICから10分！！24時間お好きな時間で練習可能☆レッスンも夜22:00まで◎
          %p.minute 初めての方も大歓迎！！習い放題月額5,980円からのゴルフスクール。365日練習できる！なんと24時間営業！！室内の快適な環境で、ご自身のプランに合わせた形で思う存分練習ができます！認定コーチによるレッスンと全打席最新解析機で練習をフルサポート。的確なコーチングを受けて着実にレベルアップしたい、という方にピッタリの練習環境をご提供します。
          %p.adress 〒157-0072 東京都世田谷区祖師谷4-2-11 ビッグA入り口2階
          %p.acsess 川越ICから車で10分
        .coach-box
          %h.cupon お得なレッスンチケット一覧
          .box-ticket
            %p.box-ticket-titile 体験レッスン
            %p.box-ticket-tag 無料体験レッスン1回 50分無料







-# .message
-#   .upper-message
-#     .upper-message__user-name
-#       = message.user.name
-#     .upper-message__date
-#       = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
-#   .lower-message
-#     - if message.content.present?
-#       %p.lower-message__content
-#         = message.content
-#     = image_tag message.image.url, class: 'lower-message__image' if message.image.present?