.pro-content
  .pro-apalel
    .pro-img
      = image_tag "coach1.jpg", size: "150x157", alt: "coach"
    .pro-text
      %p.strong 勝つゴルフレッスンで、<br>スコアを縮めます！！
      %p.point 4000人以上をレッスンしてきた経験を基に、個人に合わせた、個人レッスンを致します。
  .pro-profile-top
    .pro-profile-top-on
      %h.pro-top 経歴
    %p.p-top 1971年 京都市生まれ
    %p 1992年 奈良・八重桜カントリークラブの研修生に
    %p 1994年 滋賀・ダイヤモンド滋賀カントリークラブの研修生に
    %p 2002年 ティーチングプロとして、大阪を中心に前田新作プロと活躍
    %p 2004年 ティーチングプロとして独立
    %p 日本プロゴルフ協会会員 プロゴルファー ティーチングプロ
  .pro-profile-2nd
    .pro-profile-top-on2
      %h.pro-top 実績
    %p.p-top 現在PGAティーチングプロA級
    %p JGTO認定コーチ
    %p プロボクシングA級ライセンス
    %p ミズノプロサポートスタッフ
  .pro-profile-3rd
    .pro-profile-top-on3
      %h.pro-top 対応ゴルフ場
    %p.p-top ノーザンカントリークラブ錦ヶ原ゴルフ場
    %p 上里ゴルフ場
    %p アコーディア・ゴルフ習志野カントリークラブ
    %p かずさカントリークラブ
    %p ABCいすみゴルフコース
    