.header
  ゴルMATCH
  -# .user-name
  -#   = current_user.name + "さん"
  -#   .header-list
  -#     = link_to edit_user_path(current_user) do
  -#       %h1 アカウント&リスト◁
.group-header
  -# .home-btn
  -#   = link_to root_path do
  -#     %i.fas.fa-home
  -#   .group-edit-btn
      %h 参加中のグループ一覧
  .group-text
    %h レッスンプロ登録
.coach-new-contaner
  .contaner__innner
    .sction-card
      .card__content
        %p 外部サービス側にゴルMATCHのご利用状況が投稿されることは一切ありません。
      %table.form-table
        %tbody
          %tr
            %th.form-table__head 氏名
            %span.label-necessary 必修
            %th.form-table__body
            